#### Light GBM 분석

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pycaret.classification import *
from pycaret.classification import ClassificationExperiment
import os
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [2]:
import warnings
warnings.filterwarnings(action='ignore')

#### Data Load

In [3]:
DATA_DIR = "../data/"
data = pd.read_pickle(DATA_DIR + 'base_dataset_numerical_minmax.pkl') #불러오기

In [5]:
# Pycaret 최적화 모델 로드
loaded_model = load_model('../data/tuned_model')

Transformation Pipeline and Model Successfully Loaded

In [7]:
# Predict Proba 구하기
predictions_proba = predict_model(loaded_model, data=data)

In [8]:
predictions_proba

,Customer_Age,Dependent_count,Education_Level,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,...,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Gender_Male,Marital_Status_Uneducated,Marital_Status_Single,Marital_Status_Divorced,Attrition_Flag,prediction_label,prediction_score
0,0.404255,0.6,0.2,0.50,0.000000,0.604651,0.8,0.166667,0.500000,0.340190,...,0.248062,0.437534,0.061061,1,1,0,0,0,0,0.9994
1,0.489362,1.0,0.4,0.00,0.000000,0.720930,1.0,0.166667,0.333333,0.206112,...,0.178295,1.000000,0.105105,0,0,1,0,0,0,0.9997
2,0.531915,0.6,0.4,0.75,0.000000,0.534884,0.6,0.166667,0.000000,0.059850,...,0.077519,0.628164,0.000000,1,1,0,0,0,0,0.9987
3,0.297872,0.8,0.2,0.00,0.000000,0.488372,0.4,0.666667,0.166667,0.056676,...,0.077519,0.628164,0.760761,0,1,0,0,0,0,0.9989
4,0.297872,0.6,0.0,0.50,0.000000,0.186047,0.8,0.166667,0.000000,0.099091,...,0.139535,0.673129,0.000000,1,1,0,0,0,0,0.9792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,0.510638,0.4,0.4,0.25,0.000000,0.627907,0.4,0.333333,0.500000,0.077536,...,0.829457,0.230749,0.462462,1,0,1,0,0,0,0.9998
10123,0.319149,0.4,0.4,0.25,0.000000,0.279070,0.6,0.333333,0.500000,0.085819,...,0.457364,0.183899,0.511512,1,0,0,1,1,1,0.9813
10124,0.382979,0.2,0.2,0.00,0.000000,0.534884,0.8,0.500000,0.666667,0.120042,...,0.387597,0.220248,0.000000,0,1,0,0,1,1,0.9987
10125,0.085106,0.4,0.4,0.25,0.000000,0.534884,0.6,0.500000,0.500000,0.116172,...,0.403101,0.194400,0.000000,1,0,1,0,1,1,0.9964
10126,0.361702,0.4,0.4,0.00,0.333333,0.279070,1.0,0.333333,0.666667,0.270566,...,0.395349,0.174744,0.189189,0,1,0,0,1,1,0.9926

In [9]:
# dataset export (피클로 파이썬 pandas dataframe 객체 그대로 저장)
predictions_proba.to_pickle(DATA_DIR + 'base_datset_lgbm.pkl')

In [6]:
##데이터셋 분리

y=data["Attrition_Flag"]
x=data.drop(["Attrition_Flag"],axis=1)

X_train, X_test, y_train, y_test= train_test_split(x, y, test_size=0.3, random_state=0, stratify=y)

print(X_train.shape, X_test.shape)

(7088, 20) (3039, 20)