In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
df = pd.read_csv("../data/BankChurners.csv")

In [27]:
df['Age']=0
df.loc[(df['Customer_Age']>25)&(df['Customer_Age']<=35),'Age']=0
df.loc[(df['Customer_Age']>35)&(df['Customer_Age']<=45),'Age']=1
df.loc[(df['Customer_Age']>45)&(df['Customer_Age']<=55),'Age']=2
df.loc[(df['Customer_Age']>55)&(df['Customer_Age']<=65),'Age']=3
df.loc[df['Customer_Age']>65,'Age']=4
df['Age']=df['Age'].astype(int)

In [23]:
df.drop(['Customer_Age'],axis = 1,inplace = True)

In [28]:
'Age' in df_new.columns

df_new[['Customer_Age']]

       Customer_Age
0                45
1                49
2                51
3                40
4                40
...             ...
10122            50
10123            41
10124            44
10125            30
10126            43

[10127 rows x 1 columns]

In [29]:
df['Bank_Relationship_Period']=0
df.loc[(df['Months_on_book']>=0)&(df['Months_on_book']<=10),'Bank_Relationship_Period']=0
df.loc[(df['Months_on_book']>10)&(df['Months_on_book']<=20),'Bank_Relationship_Period']=1
df.loc[(df['Months_on_book']>20)&(df['Months_on_book']<=30),'Bank_Relationship_Period']=2
df.loc[(df['Months_on_book']>30)&(df['Months_on_book']<=40),'Bank_Relationship_Period']=3
df.loc[df['Months_on_book']>50,'Bank_Relationship_Period']=4
df['Bank_Relationship_Period']=df['Bank_Relationship_Period'].astype(int)
df.drop(['Months_on_book'],axis = 1,inplace = True)

In [30]:
df_new=pd.get_dummies(df, columns=['Gender', 'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category'],drop_first=False)
df_new.shape

(10127, 42)

In [31]:
df_new.columns

Index(['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Dependent_count',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2',
       'Age', 'Bank_Relationship_Period', 'Gender_F', 'Gender_M',
       'Education_Level_College', 'Education_Level_Doctorate',
       'Education_Level_Graduate', 'Education_Level_High School',
       'Education_Level_Post-Graduate', 'Education_Level_Uneducated',
       'Education_Level_Unknown', 'Marital_Status_Divorced',
       'Marital_Status_Married', 'Marital_Status_Single',
       'Marital_Status_Unknown', 'Income_Category_$120K +',
       'Income_Category_$40K - $60K', 'Income_Category_$60K - $80K',
       'Income_Category_$80K - $120K', 'Income_Category_Less than $40K',
       'Income_Category_Unknown', 'Card_Category_Blue', 'Card_Category_Gold',
       'Card_Category_Platinum', 'Card_Category_Silver'],
      dtype='object')

In [33]:
#Rearrangement of the columns......
df = df_new[[ 'Dependent_count', 'Total_Relationship_Count',
       'Months_Inactive_12_mon', 'Contacts_Count_12_mon', 'Credit_Limit',
       'Total_Revolving_Bal', 'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1',
       'Total_Trans_Amt', 'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1',
       'Avg_Utilization_Ratio', 'Age', 'Bank_Relationship_Period', 'Gender_F',
       'Gender_M', 'Education_Level_College', 'Education_Level_Doctorate',
       'Education_Level_Graduate', 'Education_Level_High School',
       'Education_Level_Post-Graduate', 'Education_Level_Uneducated',
       'Education_Level_Unknown', 'Marital_Status_Divorced',
       'Marital_Status_Married', 'Marital_Status_Single',
       'Marital_Status_Unknown', 'Income_Category_$120K +',
       'Income_Category_$40K - $60K', 'Income_Category_$60K - $80K',
       'Income_Category_$80K - $120K', 'Income_Category_Less than $40K',
       'Income_Category_Unknown', 'Card_Category_Blue', 'Card_Category_Gold',
       'Card_Category_Platinum', 'Card_Category_Silver','Attrition_Flag']]
df.head(2).style.set_properties(**{"background-color": "black","color": "white", "border-color": "black","font-size":"11.5pt",'width': 200})

In [35]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit_transform(df.drop('Attrition_Flag',axis=1))
scaled_features = scaler.transform(df.drop('Attrition_Flag',axis=1))

In [36]:
scaled_features = pd.DataFrame(scaled_features, columns = df.columns[:-1])
scaled_features.head().style.set_properties(**{"background-color": "black","color": "white", "border-color": "black","font-size":"11.5pt",'width': 200})

In [37]:
X = scaled_features
y = df['Attrition_Flag']

In [38]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.30,random_state = 0)

In [39]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 37 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Dependent_count                 10127 non-null  float64
 1   Total_Relationship_Count        10127 non-null  float64
 2   Months_Inactive_12_mon          10127 non-null  float64
 3   Contacts_Count_12_mon           10127 non-null  float64
 4   Credit_Limit                    10127 non-null  float64
 5   Total_Revolving_Bal             10127 non-null  float64
 6   Avg_Open_To_Buy                 10127 non-null  float64
 7   Total_Amt_Chng_Q4_Q1            10127 non-null  float64
 8   Total_Trans_Amt                 10127 non-null  float64
 9   Total_Trans_Ct                  10127 non-null  float64
 10  Total_Ct_Chng_Q4_Q1             10127 non-null  float64
 11  Avg_Utilization_Ratio           10127 non-null  float64
 12  Age                             10127 non-null  float64
 13  Bank_Relationship_Period        10127 non-null  float64
 14  Gender_F                        10127 non-null  float64
 15  Gender_M                        10127 non-null  float64
 16  Education_Level_College         10127 non-null  float64
 17  Education_Level_Doctorate       10127 non-null  float64
 18  Education_Level_Graduate        10127 non-null  float64
 19  Education_Level_High School     10127 non-null  float64
 20  Education_Level_Post-Graduate   10127 non-null  float64
 21  Education_Level_Uneducated      10127 non-null  float64
 22  Education_Level_Unknown         10127 non-null  float64
 23  Marital_Status_Divorced         10127 non-null  float64
 24  Marital_Status_Married          10127 non-null  float64
 25  Marital_Status_Single           10127 non-null  float64
 26  Marital_Status_Unknown          10127 non-null  float64
 27  Income_Category_$120K +         10127 non-null  float64
 28  Income_Category_$40K - $60K     10127 non-null  float64
 29  Income_Category_$60K - $80K     10127 non-null  float64
 30  Income_Category_$80K - $120K    10127 non-null  float64
 31  Income_Category_Less than $40K  10127 non-null  float64
 32  Income_Category_Unknown         10127 non-null  float64
 33  Card_Category_Blue              10127 non-null  float64
 34  Card_Category_Gold              10127 non-null  float64
 35  Card_Category_Platinum          10127 non-null  float64
 36  Card_Category_Silver            10127 non-null  float64
dtypes: float64(37)
memory usage: 2.9 MB

In [40]:
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10127 entries, 0 to 10126
Series name: Attrition_Flag
Non-Null Count  Dtype
--------------  -----
10127 non-null  object
dtypes: object(1)
memory usage: 79.2+ KB

In [45]:
to_export = pd.concat([X, y], axis=1)
to_export.to_csv("../data/bankchurners_train.csv")